* {
	border: none;
	border-radius: 10px;
	min-height: 18px;
}

window#waybar {
  background: transparent;
  color: @base00;
  font-size: 12px;
}

#workspaces,
#network,
#pulseaudio,
#wireplumber,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#idle_inhibitor,
#mode,
#submap {
  padding: 1px 10px;
}

#workspaces {
	color: @base0E;
	background: @base02;
}

/* sway */
#workspaces button.focused {
	color: @base0E;
}

/* hyprland */
#workspaces button.active {
	color: @base0E;
}

#workspaces button:hover {
	color: @base07;
}

#workspaces button.urgent {
	color: @base08;
}

#network {
	background: @base0D;
}

#pulseaudio,
#wireplumber {
	background: @base0F;
}

#battery {
	background: @base0B;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background: @base08;
    }
}

#backlight {
	background: @base0A;
}
#clock {
	background: @base0C;
}

#memory {
	background: @base0E;
}
#cpu {
	background: @base07;
}

#tray {
	background: #4c4f69;
}

#idle_inhibitor {
	background: @base09;
}

#mode,
#submap {
	background: @base08;
}
