* {
	border: none;
	border-radius: 10px;
	min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
  font-family: FiraCode Nerd Font;
  font-size: 12px;
}

#workspaces,
#network,
#pulseaudio,
#wireplumber,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#idle_inhibitor,
#mode,
#submap {
  padding: 2px 10px;
}

#workspaces {
	background: #161320;
}

/* sway */
#workspaces button.focused {
	color: #BD93F9;
}

/* hyprland */
#workspaces button.active {
	color: #BD93F9;
}

#workspaces button:hover {
	color: #E8A2AF;
}

#workspaces button.urgent {
	color: #E0727C;
}

#network {
	color: #161320;
	background: #bd93f9;
}

#pulseaudio,
#wireplumber {
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #B5E8E0;
        background: #BF616A;
    }
}

#backlight {
	color: #161320;
	background: #F8BD96;
}
#clock {
	color: #161320;
	background: #ABE9B3;
}

#memory {
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	color: #161320;
	background: #96CDFB;
}

#tray {
	color: #B5E8E0;
	background: #161320;
}

#idle_inhibitor {
	color: #161320;
	background: #f6a967;
}

#mode,
#submap {
	color: #161320;
	background: #F28FAD;
}
